<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user2.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user2.email %>
</p>

<%= link_to 'Edit', edit_user2_path(@user2) %> |
<%= link_to 'Back', user2s_path %>
